* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    color: #282828;
    font-family: Courier;
    font-size: 10pt;
}

p {
    margin: 10px;
}

div.line {
    height: 5px;
    width: 100%;
}

div.line.l1 {
    background-color: #56626B;
}

div.line.l2 {
    background-color: #6C9380;
}

div.line.l3 {
    background-color: #C0CA55;
}

div.line.l4 {
    background-color: #F07C6C;
}